<div class="modal" id="modal">
  <div class="modal__content modal__content--contact">
    <button class="modal__close" type="button"><img src="assets/images/svg/close.svg" alt=""></button>

    <form class="form" action="" >

      <div class="form__group form__group--md">
        <input class="form__control" type="text" placeholder="Ваше имя">
        <span class="form__line"></span>
      </div>


      <div class="form__group form__group--md">
        <input class="form__control" type="email" placeholder="Ваш Email">
        <span class="form__line"></span>
      </div>
    
      <div class="form__group form__group--md">
        <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
        <span class="form__line"></span>
      </div>
    
      
    
      <div class="form__footer">
        <div class="form__group form__group--md">
          <button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
        </div>
        

    
      </div>
     
    </form>

    <ul class="modal__footer">
      <li class="modal__footer-item">
        email: <a class="modal__footer-link" href="mailto:arseqpage@gmail.com">arseqpage@gmail.com</a>
      </li>
      <li>
        тел: <a class="modal__footer-link" href="tel:+73838383838">+73838383838</a>
      </li>
      
      
    </ul>

    
    
  </div>
  <!-- /.modal__content -->
</div>
<!-- /.modal -->