.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 20%;
}

.nav__main {
    width: 60%;
    display: flex;
    justify-content: center;

    list-style: none;
    font-size: 1.06rem;
    color: $gray;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Futura_md', sans-serif;

    
}

.nav__main-item {

    transition: all .3s linear;
    margin: 0 2.23rem;

    &:hover {
        color: $white;
    }
}

.nav__main-link {
    text-decoration: none;
    color: inherit;
}

.nav__contacts {
    width: 20%;
    display: flex;
    justify-content: flex-end;

    list-style: none;
    font-size: 1.06rem;
    color: $gray;
    font-weight: 500;
    font-family: 'Futura_md', sans-serif;
}

.nav__contacts-item {
    margin-left: 4.46rem;
    transition: all .3s linear;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        color: $white;
    }
}

.nav__contacts-link {
    color: inherit;

    &--phone {
        text-decoration: none;
    }
}