<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <div class="header__logo-box footer__logo">
        <a class="header__logo logo" href="index.html">
          <img src="assets/images/logo.png" alt="">
        </a>
      </div>


      <nav class="nav header__nav footer__nav">
        <ul class="nav__list footer-nav__list">
          <li class="nav__item footer-nav__item">
            <a class="nav__link" href="#">MAIN</a>
          </li>
          <li class="nav__item footer-nav__item">
            <a class="nav__link" href="#about">about</a>
          </li>
          <li class="nav__item footer-nav__item">
            <a class="nav__link" href="#features">game features</a>
          </li>
          <li class="nav__item footer-nav__item">
            <a class="nav__link" href="#system">System requirements</a>
          </li>
          <li class="nav__item footer-nav__item">
            <a class="nav__link" href="#quotes">quotes</a>
          </li>
        </ul>
      </nav>

      <nav class="footer__nav-social ">
        <ul class="footer__link-list">
          <li class="footer__link-item"><a class="footer__link-social" href="#">
              <svg class="footer__link-icon tw">
                <use xlink:href="assets/images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__link-item"><a class="footer__link-social" href="#">
              <svg class="footer__link-icon fb">
                <use xlink:href="assets/images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__link-item"><a class="footer__link-social" href="#">
              <svg class="footer__link-icon yt">
                <use xlink:href="assets/images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer__link-item"><a class="footer__link-social" href="#">
              <svg class="footer__link-icon tt">
                <use xlink:href="assets/images/sprite.svg#twitch"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__bottom">
      <div class="footer__copy">&copy; 2018 Outpost Games, Inc. All Rights Reserved</div>
      <div class="privacy">
        <a class="privacy__link" href="#">Privacy Policy </a>
        <a class="privacy__link" href="#">Terms of Services </a>
        <a class="privacy__link" href="#">Code of Conduct</a>
      </div>
    </div>
  </div>
</footer>