<header class="header">
  <div class="container header__container burger-nav-active">
    <div class="header__content">

      <div class="header__logo-box">
        <a class="header__logo logo" href="index.html">
          <img src="assets/images/logo.png" alt="">
        </a>
      </div>


      <nav class="nav header__nav ">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">MAIN</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">about</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#features">game features</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#system">System requirements</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#quotes">quotes</a>
          </li>
        </ul>
      </nav>

      <nav class="nav-burger" id="nav-burger">
        <ul class="nav-burger__list">
          <li class="nav-burger__item">
            <a class="nav-burger__link" href="#">MAIN</a>
          </li>
          <li class="nav-burger__item">
            <a class="nav-burger__link" href="#about">about</a>
          </li>
          <li class="nav-burger__item">
            <a class="nav-burger__link" href="#features">game features</a>
          </li>
          <li class="nav-burger__item">
            <a class="nav-burger__link" href="#system">System requirements</a>
          </li>
          <li class="nav-burger__item">
            <a class="nav-burger__link" href="#quotes">quotes</a>
          </li>
          <li class="nav-burger__item">
            <a class="plartofm__shop" href="#">
              <svg class="platform__icon platform__xbox">
                <use xlink:href="assets/images/sprite.svg#xbox"></use>
              </svg>
            </a>

            <a href="platform__shop">
              <svg class="platform__icon platform__steam">
                <use xlink:href="assets/images/sprite.svg#steam"></use>
              </svg>
            </a>
          </li>

        </ul>
      </nav>

      <div class="lang">
        <div class="lang__box">
          <span class="lang__current">Eng</span>
          <i class="fas fa-chevron-down"></i>
        </div>

        <ul class="lang__submenu">
          <li class="lang__item"><a href="#" data-lang="Rus">Rus</a></li>
          <li class="lang__item"><a href="#" data-lang="Eng">Eng</a></li>
          <li class="lang__item"><a href="#" data-lang="Fra">Fra</a></li>
          <li class="lang__item"><a href="#" data-lang="Deu">Deu</a></li>
        </ul>
      </div>

      <button class="btn-reset header__burger burger "><span class="burger__line"></span></button>

      <nav class="nav-platform header__nav">
        <div class="platrofm">

          <a class="plartofm__shop" href="#">
            <svg class="platform__icon platform__xbox">
              <use xlink:href="assets/images/sprite.svg#xbox"></use>
            </svg>
          </a>

          <a class="plartofm__shop" href="#">
            <svg class="platform__icon platform__steam">
              <use xlink:href="assets/images/sprite.svg#steam"></use>
            </svg>
          </a>

        </div>
      </nav>
    </div>

  </div>
</header>