$primary: #222222;
$secondary: #121212;
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #007bff;
$nav-t: #f5f5f5;
$page-t: #f5f5f5;
$avaBorder: #444;

$radius-sm: 5px;
$radius: 50%;

$sidebar-width: 300px;