$hamburgerColorActive: #f8c255;

.hamburger {
	background: none;
	display: block;
	cursor: pointer;

	border: 3px solid $borderColor;

	transition-duration: 500ms;
	transition-property: border-color;

	&:hover,
	&:active {
		border-color: $hamburgerColorActive;

		.hamburger__element {
			background-color: $hamburgerColorActive;

			&::after,
			&::before {
				background-color: $hamburgerColorActive;
			}
		}
	}

	&:focus {
		border-color: $hamburgerColorActive;
	}
}

.hamburger__element {
	width: 40px;
	height: 3px;
	background-color: $borderColor;
	display: block;

	margin: 10px auto;

	transition-duration: 500ms;
	transition-property: background-color;

	&::after,
	&::before {
		content: "";
		width: 40px;
		height: 3px;
		background-color: $borderColor;
		display: block;
		margin: 0 auto;

		transition-duration: 500ms;
		transition-property: background-color;
	}

	&::after {
		transform: translateY(4px);
	}

	&::before {
		transform: translateY(-7px);
	}
}

.hamburger--active {
	position: relative;
	z-index: 1;
	border-color: $hamburgerColorActive;

	&:hover,
	&:active {
		border-color: $hamburgerColorActive;

		.hamburger__element {
			background-color: $borderColor;

			&::after,
			&::before {
				background-color: $borderColor;
			}
		}
	}

	.hamburger__element {
		transform: rotate(45deg);

		&::after {
			transform: rotate(-90deg);
			position: relative;
			z-index: 1;
		}
		&::before {
			display: none;
		}
	}
}
