.articles__item {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    padding-bottom: 39px;
    border-radius: 9px;
    margin-bottom: 40px;

    background: $white;

    &:last-child {
        margin-bottom: 0;
    }
}

.articles__item-top {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.articles__star {
    width: 56px;
    height: 39px;
    background: url("../img/vec.svg") top left no-repeat;
    position: relative;
    top: 0;
    left: 0;

    .star {
        margin: auto;
        position: absolute;
        top: 10px;
        left: 11px;
    }
}

.articles__date {
    font-family: 'Roboto-medium';
    font-size: 22px;
    color: $articleColor;
}

.articles__item-bottom {
    padding: 0 26px;

    display: flex;
    justify-content: space-between;

    .btn {
        margin-left: 20px;
    }
}

.articles__left {
    max-width: 636px;
    width: 50%;
}

.articles__item-img {
    border-radius: 16px;
    width: 100%;

}

.articles__text {
    width: 50%;
    margin-left: 52px;
}

.articles-title,
.articles-subtitle {
    color: $articleColor;
}

.articles-title {
    font-size: 18px;
    margin: 25px 0 23px;
    font-family: 'Roboto-bold';
}

.articles-subtitle {
    font-size: 16px;
}

@media (max-width: 980px) {
    .articles__item-bottom {
        flex-direction: column;

        text-align: center;
    }

    .articles__left {
        max-width: initial;
        width: 100%;
    }

    .articles__item-img {
        display: block;
        margin: 0 auto;
    }

    .articles__text {
        margin-left: 0;
        width: 100%;
    }


}