.footer {
    padding: 52px 0;

    background: $footerBg;
    color: $white;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer__info {
    font-size: 14px;
    font-family: 'ProximaNova';
    margin: 0;
}

.footer__sponsor {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.footer__sponsor-item {
    margin: 0;
    margin-left: 20px;


    &:first-child {
        margin-left: 0;
    }
}

@media (max-width: 980px) {
    .footer__items {
        flex-direction: column;
    }

    .footer__sponsor {
        flex-wrap: wrap;
    }
}