.main {
    background: $gray;

    padding: 60px 0 25px;

    position: relative;
}

.main__title {
    text-align: center;
    margin: 0;
}

.scroll {
    width: 53px;
    height: 53px;
    border-radius: 50%;

    background: $blue;
    position: fixed;
    bottom: 200px;
    right: 150px;

    cursor: pointer;

    .scroll-icon {
        width: 18px;
        height: 13px;

        fill: $white;

        position: relative;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}

@media (max-width: 980px) {
    .scroll {
        right: 50px;
    }
}