<footer class="footer section bd-container">
  <div class="footer__container bd-grid">
    <div class="footer__content">
      <a class="footer__logo" href="#">Tasty food</a>
      <span class="footer__description">
        Restaurant
      </span>

      <div>
        <a class="footer__social" href="#">
          <i class='bx bxl-facebook'></i>
        </a>
        <a class="footer__social" href="#">
          <i class='bx bxl-instagram'></i>
        </a>
        <a class="footer__social" href="#">
          <i class='bx bxl-twitter'></i>
        </a>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Services</h3>

      <ul>
        <li>
          <a class="footer__link" href="">Delivery</a>
        </li>
        <li>
          <a class="footer__link" href="">Pricing</a>
        </li>
        <li>
          <a class="footer__link" href="">Fast food</a>
        </li>
        <li>
          <a class="footer__link" href="">Reserve your spot</a>
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Infotrmation</h3>

      <ul>
        <li>
          <a class="footer__link" href="">Event</a>
        </li>
        <li>
          <a class="footer__link" href="">Contact us</a>
        </li>
        <li>
          <a class="footer__link" href="">Privacy policy</a>
        </li>
        <li>
          <a class="footer__link" href="">Terms of services</a>
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Address</h3>

      <ul>
        <li>Moscow</li>
        <li>Lenina 15 street</li>
        <li><a class="footer__link" href="tel:89999999999">8 (999) 999 99-99</a></li>
        <li><a class="footer__link" href="mailto:food@mail.ru">food@mail.ru</a></li>
      </ul>
    </div>
  </div>

  <p class="footer__copy">&#169; 2020 Foot. All right reserved.</p>
</footer>