@import "mixins/font-face";
@import "mixins/breakpoints";
@import "mixins/visually-hidden";
@import "vars";
@import "vendor/reset";
@import "vendor";
@import "fonts";


:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fafafa;
    font-family: "SF", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--dark-color);

    &.no-scroll {
        overflow: hidden;
    }
}

// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 144rem;
}

.visually-hidden {
    @include visually-hidden;
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: .5rem 3.5rem;

    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    border-radius: 10rem;

}

.btn-gradient {

    background-image: var(--gradient-color);

    &:hover {
        background-image: var(--gradient-color-alt);
    }
}

.form-btn {
    margin-top: 2.5rem;
    cursor: pointer;
    font-weight: 300;
}

.btn-purple {
    background-color: var(--purple-solid);

    transition: background-color .2s;

    &:hover {
        background-color: #56247f;
    }
}


.dots {
    font-size: 2rem;
    margin-left: .5rem;
    opacity: .75;
}








*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
}

section {
    padding: 5rem 0;

    @include large-f {
        &:not(.booking) {
            padding: 10rem 0;
        }
    }

    
}

.section-head {
    text-align: center;
    margin-bottom: 5rem;
}

.heading {
    display: block;

    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-heading {
    font-size: 1.7rem;
    font-family: "Courgette", cursive;
    color: #a5a5a5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



::placeholder {
    color: inherit;
}


/* Blocks */

@import "blocks/header";
@import "blocks/hero";
@import "blocks/booking";
@import "blocks/hotels";
@import "blocks/offer";
@import "blocks/rooms";
@import "blocks/contact";
@import "blocks/footer";