.btn {
    padding-top: 17px;
    padding-bottom: 17px;

    background: $blue;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;

    font-family: "inter-semibold", sans-serif;
    font-size: 16px;
    line-height: 1.1;
    color: $white;
}

.btn_b {
    padding-right: 30px;
    padding-left: 30px;
}