.right {
    max-width: 384px;
    width: 100%;

    padding: 43px 40px;
}

.user {
    display: flex;
    align-items: center;

    position: relative;
    font-family: 'inter-semibold', sans-serif;
}

.user__nav {
    margin-left: 26px;


}

.user__name {
    text-decoration: none;

    font-size: 20px;
    line-height: 1.2;

    color: $black;
}

.user__photo {
    width: 56px;
    height: 56px;

    img {
        width: 100%;
    }
}

.user__arrow {
    width: 15px;
    height: 10px;
}

.user__list {
    visibility: hidden;

    list-style: none;
    text-align: right;

    padding: 10px;
    margin: 0;
    border-radius: 8px 0 8px 8px;

    position: absolute;
    left: 130px;
    top: 60px;

    background: $bgGray;

    &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 15px 15px;
        border-color: transparent transparent #f5f5fb transparent;

        top: -10px;
        right: 0;
    }

}

.user__list-item {
    margin-bottom: 5px;
}

.user__list-link {
    color: $black;
    font-size: 16px;
    line-height: 1.5;
}
