.upgrade {
    background: $bgGray;

    border-radius: 12px;

    padding: 90px 21px 25px;
    text-align: center;

    position: relative;
}

.upgrade__icon {
    width: 85px;
    height: 99px;

    fill: $blue;

    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
}

.upgrade__text {
    font-size: 16px;
    font-family: 'inter-medium', sans-serif;
    line-height: 1.4;
}

.upgrade .btn {
    width: 100%;
}

.upgrade_m {
    margin: 110px 40px 0;
}