.featured {
    padding-top: 135px;
    padding-bottom: 135px;
}

.featured__text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;

    .featured__title {
        margin: 0;
    }
}

.featured__countries {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured__item {
    position: relative;
    max-width: 23.3%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.featured__item-img {
    width: 100%;
}

.featured__item-description {
    position: absolute;
    bottom: 0;
    left: 0;

    max-width: 120px;
    width: 100%;
    padding-top: 11px;
    padding-right: 22px;

    background: $white;
    border-radius: 0px 6px 0px 0px;
    box-sizing: border-box;
}

.featured__item-name {
    font-size: 17px;
    line-height: 1.5;
    font-family: 'inter_semibold', sans-serif;
    color: $black;

    margin: 0;
    display: inline-block;
}

.featured__item-text {
    margin: 0;
    padding: 0;

    font-size: 15px;
    line-height: 1.6;
    font-family: 'inter_medium', sans-serif;
    color: $textColor;

    display: inline-block;

}