.footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer--top {
    padding-bottom: 81px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-bottom: 1px solid rgba($color: $dropBorder, $alpha: 0.3);
}

.footer__item--first {
    .logo {
        margin-bottom: 26px;
    }


}

.footer--text {
    font-family: 'muli_light', 'sans-serif';
    font-size: 18px;
    color: $textColor;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__item--first {
    width: 30%;

    p {
        margin-top: 0;
        margin-bottom: 55px;

        line-height: 2.1;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__item-header {
    font-family: 'muli_bold', sans-serif;
    font-size: 19px;
    line-height: 3.1;

    margin: 0;
}

.footer__item-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__item-link {
    line-height: 2.1;

    a {
        text-decoration: none;
        color: inherit;

        display: block;
    }

    &:hover {
        a {
            text-decoration: underline;
        }
    }
}

.footer--bottom {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.footer__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__icons-item {
    margin-right: 35px;
    cursor: pointer;

    transition-duration: 2s;
    transition-property: fill;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        svg {
            fill: $orange;
        }
    }
}

.twitter {
    width: 25px;
    height: 20px;
}

.facebook {
    width: 10px;
    height: 22px;
}

.instagram {
    width: 22px;
    height: 22px;
}

.linkedin {
    width: 23px;
    height: 22px;
}

.youtube {
    width: 28px;
    height: 20px;
}



@media (max-width:991px) {


    .footer__item {
        width: 48%;
        margin-bottom: 30px;
    }
}

@media (max-width:480px) {
    .footer__item {
        width: 100%;
        margin-bottom: 30px;
    }
}