.guides {
    padding-top: 135px;
    padding-bottom: 135px;
}

.guides__inner {
    display: flex;
}

.guides__img {
    width: 50%;

    img {
        width: 100%;
    }
}

.guides__text {
    width: 50%;
    padding-top: 110px;
}

.guides__title {
    margin-bottom: 20px;

}

.guides__subtitle {
    font-family: 'muli_light', sans-serif;
    font-size: 17px;
    line-height: 1.76;
    color: $textColor;
    max-width: 600px;

    margin-bottom: 30px;
}