.header {
    padding-top: 43px;
    padding-bottom: 135px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    .header__bottom-left {
        max-width: 470px;
        width: 100%;
    }
}

.header__title {
    font-size: 80px;
    line-height: 1.25;
    font-family: 'playfairD_bold';

    margin-bottom: 74px;
}

.header__subtitle {
    font-size: 22px;
    font-family: 'inter_semibold', sans-serif;
    line-height: 1.2;

    margin-bottom: 0;

    &::after {
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        background: $titleColor;
        margin-top: 21px;
    }
}

.header__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 48px;

    .btn {
        margin-top: 17px;
    }
}