.testimonials {
    padding-top: 135px;
    padding-bottom: 135px;
}

.testimonials__title {
    margin-top: 0;
    margin-bottom: 70px;
}

.testimonials__item {
    display: flex;
    position: relative;
}

.testimonials__text {
    padding-top: 85px;
    width: 50%;
}

.testimonials__stars {
    display: flex;
    margin-bottom: 30px;

    .star {
        width: 25px;
        height: 24px;

        fill: #FFBB0C;

        margin-right: 16px;
    }
}

.testimonials__feedback {
    font-family: 'muli_regular', sans-serif;
    font-size: 24px;
    line-height: 1.5;

    margin-bottom: 40px;
}

.testimonials__name {
    font-family: 'inter_semibold', sans-serif;
    font-size: 22px;
    line-height: 2;
}

.testimonials__job {
    font-family: 'inter_regular', sans-serif;
}

.testimonials__img {
    width: 50%;


    img {
        width: 100%;
        max-width: 384px;
        margin-left: auto;
        display: block;
        border-radius: 14px;
    }

}

.testimonials__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 132px;
    padding-top: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    background: $white;
    border-radius: 16px 0 0 0;

    display: flex;
    justify-content: space-between;
}

.testimonials__btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 2px solid #d7d7d7;
    border-radius: 50%;
    background: transparent;
    outline: none;
    cursor: pointer;

    display: flex;
    transition-duration: .4s;

    .arrow-t {
        fill: #d7d7d7;
    }

    &:last-child {
        margin-left: auto;
    }

    &:hover {
        border-color: $black;

        .arrow-t {
            fill: $black;
        }
    }

}

.arrow-t {
    width: 12px;
    height: 22px;

    margin: auto;

    transition-duration: .4s;
}

.prev {
    transform: rotate(180deg);
}

@media (max-width:768px) {
    .testimonials__item {
        flex-direction: column;
    }

    .testimonials__text {
        padding-top: 30px;
        width: 100%;

        margin-bottom: 30px;
    }

    .testimonials__img {
        width: 100%;
    }
}