<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    <div class="page">
        <div class="container container--center">
            <div class="page__block">
                {{> header }}

                <div class="main">
                    {{> body }}
                </div>

                {{> links }}
            </div>

            <div class="modal">


                <div class="modal__container modal__container-thanks" data-target="thanks">
                    <button class="modal-close">
                        <svg class="modal-close__icon">
                            <use xlink:href="assets/images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <div class="modal-content">
                        <div class="modal__thanks">
                            <p class="modal__thanks-text">Ваше сообщение отправлено. Спасибо!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <!-- JS -->

    <script src="assets/js/app.js"></script>
</body>

</html>