<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    <div class="page">
        <div class="container container--center">
            <div class="page__block">
                {{> header }}

                <div class="main">
                    {{> body }}
                </div>

                {{> links }}
            </div>


        </div>

    </div>

    <div class="modal">
        <div class="modal__container" data-target="logistic">
            <button class="modal-close">
                <svg class="modal-close__icon">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="modal-content">
                <div class="portf-item">
                    <h3 class="portf-item__title page-title__name">Сайт логистической компании</h3>
                    <div class="portf-item__block">
                        <div class="portf-item__work">
                            <img class="portf-item__img" src="assets/images/portfolio/logistic.png" alt="">

                        </div>
                        <div class="portf-item__descr">
                            <h4 class="portf-item__descr-name">Описание</h4>
                            <p class="portf-item__about">Выполнил верстку по макету сайта доставки товаров. Сделал сайт
                                адаптивным и
                                кроссбраузерным. Адаптив подгонял сам, т.к. отсутствовал в макете размер.</p>
                            <a class="portf-item__link" href="portfolio/logistic/index.html" target="_blank">Посмотреть
                                работу</a>
                            <h4 class="portf-item__descr-name">Технологии</h4>
                            <ul class="portf-item__list">
                                <li class="portf-item__cat">CSS</li>
                                <li class="portf-item__cat">HTML</li>
                                <li class="portf-item__cat">JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal__container" data-target="wootemp">
            <button class="modal-close">
                <svg class="modal-close__icon">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="modal-content">
                <div class="portf-item">
                    <h3 class="portf-item__title page-title__name">Сайт платформы электронной коммерции</h3>
                    <div class="portf-item__block">
                        <div class="portf-item__work">
                            <img class="portf-item__img" src="assets/images/portfolio/wootemp.png" alt="">

                        </div>
                        <div class="portf-item__descr">
                            <h4 class="portf-item__descr-name">Описание</h4>
                            <p class="portf-item__about">Верстка по макету с адаптивном и кроссбраузерностью. </p>
                            <p class="portf-item__about">Встроена отправка заявки с формы на почту, маска для заполнения
                                и валидация формы, чтобы не было ошибок при заполнении.</p>
                            <a class="portf-item__link" href="portfolio/woocom/index.html" target="_blank">Посмотреть
                                работу</a>
                            <h4 class="portf-item__descr-name">Технологии</h4>
                            <ul class="portf-item__list">
                                <li class="portf-item__cat">CSS</li>
                                <li class="portf-item__cat">HTML</li>
                                <li class="portf-item__cat">JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal__container" data-target="zoner-shop">
            <button class="modal-close">
                <svg class="modal-close__icon">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="modal-content">
                <div class="portf-item">
                    <h3 class="portf-item__title page-title__name">Интернет-магазин одежды</h3>
                    <div class="portf-item__block">
                        <div class="portf-item__work">
                            <img class="portf-item__img" src="assets/images/portfolio/zoner-shop.png" alt="">

                        </div>
                        <div class="portf-item__descr">
                            <h4 class="portf-item__descr-name">Описание</h4>
                            <p class="portf-item__about">Верстка по макету с адаптивном и кроссбраузерностью. </p>
                            <p class="portf-item__about">Сделана страница с товарами, фильтрация товаров по категориям и
                                другим критериям. Также созданы страницы с корзиной товара и каталогом товаров.</p>
                            <p class="portf-item__about"></p>
                            <a class="portf-item__link" href="portfolio/zoner/index.html" target="_blank">Посмотреть
                                работу</a>
                            <h4 class="portf-item__descr-name">Технологии</h4>
                            <ul class="portf-item__list">
                                <li class="portf-item__cat">CSS</li>
                                <li class="portf-item__cat">HTML</li>
                                <li class="portf-item__cat">JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal__container" data-target="webstudio">
            <button class="modal-close">
                <svg class="modal-close__icon">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="modal-content">
                <div class="portf-item">
                    <h3 class="portf-item__title page-title__name">Страница веб-студии</h3>
                    <div class="portf-item__block">
                        <div class="portf-item__work">
                            <img class="portf-item__img" src="assets/images/portfolio/webstudio.png" alt="">

                        </div>
                        <div class="portf-item__descr">
                            <h4 class="portf-item__descr-name">Описание</h4>
                            <p class="portf-item__about">Верстка выполнена по макету с адаптивном и кроссбраузерностью.
                                Добавлена фильтрация товаров и слайдер.
                            </p>


                            <a class="portf-item__link" href="portfolio/webstudio/index.html" target="_blank">Посмотреть
                                работу</a>
                            <h4 class="portf-item__descr-name">Технологии</h4>
                            <ul class="portf-item__list">
                                <li class="portf-item__cat">CSS</li>
                                <li class="portf-item__cat">HTML</li>
                                <li class="portf-item__cat">JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal__container" data-target="artgrid">
            <button class="modal-close">
                <svg class="modal-close__icon">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="modal-content">
                <div class="portf-item">
                    <h3 class="portf-item__title page-title__name">Сайт веб-студии</h3>
                    <div class="portf-item__block">
                        <div class="portf-item__work">
                            <img class="portf-item__img" src="assets/images/portfolio/artgrid.png" alt="">

                        </div>
                        <div class="portf-item__descr">
                            <h4 class="portf-item__descr-name">Описание</h4>
                            <p class="portf-item__about">Верстка лендинга по макету с адаптивном и кроссбраузерностью.
                            </p>
                            <p class="portf-item__about">Добавлена шкала прогресса и вся работа выполнена с помощью CSS
                                grid</p>

                            <a class="portf-item__link" href="portfolio/artgrid/index.html" target="_blank">Посмотреть
                                работу</a>
                            <h4 class="portf-item__descr-name">Технологии</h4>
                            <ul class="portf-item__list">
                                <li class="portf-item__cat">CSS</li>
                                <li class="portf-item__cat">CSS Grid</li>
                                <li class="portf-item__cat">HTML</li>
                                <li class="portf-item__cat">JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal__container" data-target="quiz">
            <button class="modal-close">
                <svg class="modal-close__icon">
                    <use xlink:href="assets/images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="modal-content">
                <div class="portf-item">
                    <h3 class="portf-item__title page-title__name">Простой квиз с результатами ответов</h3>
                    <div class="portf-item__block">
                        <div class="portf-item__work">
                            <img class="portf-item__img" src="assets/images/portfolio/quiz.png" alt="">

                        </div>
                        <div class="portf-item__descr">
                            <h4 class="portf-item__descr-name">Описание</h4>
                            <p class="portf-item__about">Применил JavaScript в работе на квизом. Можно добавить любое
                                количество вопросов. Также выводится результат исходя из кол-ва правильных ответов.
                            </p>


                            <a class="portf-item__link" href="portfolio/quiz/index.html" target="_blank">Посмотреть
                                работу</a>
                            <h4 class="portf-item__descr-name">Технологии</h4>
                            <ul class="portf-item__list">
                                <li class="portf-item__cat">CSS</li>

                                <li class="portf-item__cat">HTML</li>
                                <li class="portf-item__cat">JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>






    <script src="assets/js/app.js"></script>
</body>

</html>