.about__wrap {
    padding-top: 125px;
    padding-bottom: 125px;
    text-align: center;
}

.about__title {
    font-size: 30px;
    font-family: "opensans_bold";

    margin-bottom: 35px;
}

.about__text {
    font-size: 15px;
    max-width: 620px;
    display: block;
    margin: 0 auto;
}

.about__block {
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__item {
    flex-basis: 24%;
}

.about__world {
    width: 62px;
    height: 62px;
}

.about__transfer {
    width: 70px;
    height: 60px;
}

.about__head {
    width: 57px;
    height: 63px;
}

.about__item-name {
    font-family: "opensans_semibold";
}

@media (max-width: 768px) {
    .about__item {
        flex-basis: 100%;
        margin: 20px;
    }
}
