.header {
    padding: 50px 0;
    max-height: 120px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

@media (max-width: 768px) {
    .header__wrap {
        justify-content: center;
    }
}
