.main {
    background: url("/img/bgmain.png") center no-repeat;
    opacity: 0.9;
    background-color: $black;
    background-size: cover;
}

.main__wrap {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 70px;
    color: $white;
}

.main__title {
    font-size: 60px;
    line-height: 1;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 25px;
}

.main__text {
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
}

.main__btns {
    margin-top: 100px;
    margin-bottom: 100px;
}

.main__button {
    color: white;
    margin-right: 25px;
    border: 3px solid #f8f8f8;
    transition-duration: 2s;
    transition-property: border-color;

    &:hover {
        border-color: #00897b;
    }
}

.main__button--green {
    border: 3px solid transparent;
    color: $white;
    background-color: #00897b;

    transition-duration: 0.5s;
    transition-property: background-color;
    &:hover {
        background-color: #1fb3a4;
    }
}

.main__arrow {
    text-decoration: none;
    display: block;
    margin: 0 auto;

    width: 84px;
    height: 42px;

    cursor: pointer;

    animation-name: animateArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media (max-width: 768px) {
    .main__title {
        font-size: 40px;
    }

    .main__text {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .main__title {
        font-size: 30px;
    }

    .main__text {
        font-size: 12px;
    }

    .main__btns {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .main__button,
    .main__button--green {
        margin: 20px;
    }
}

@keyframes animateArrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}
