.plan {
    padding: 100px 0;

    background: rgba(6, 12, 11, 0.2);
}

.plan__text {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
}

.plan__title {
    font-family: "opensans_bold", sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
}

.plan__subtitle {
    font-family: "opensans";
    font-size: 15px;
}

.plan__block {
    margin-top: 130px;
}

.plan__item-info {
    list-style: none;
}

.plan__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan__item {
    background-color: #fff;
    width: 31.6%;

    text-align: center;

    &:hover {
        animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}

.plan__item-rate {
    padding: 40px 60px;

    position: relative;
    background: #3949ab;
    max-width: 100%;

    color: #fff;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.plan__item-title {
    font-size: 25px;
    margin-bottom: 15px;
}

.plan__item-price {
    font-size: 17px;
}

.plan__item-num {
    font-size: 50px;

    position: relative;

    &::before {
        content: "$";

        position: absolute;
        font-size: 25px;
        top: 12px;
        left: -15px;
    }
}

.plan__item-about {
    padding: 45px 95px;
}

.plan__item-val {
    font-size: 17px;
    margin-bottom: 30px;

    position: relative;
    padding-bottom: 10px;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #000;
        bottom: 0;
        right: 0;
    }
}


.plan-btn {
    width: 100%;
}



@-webkit-keyframes shadow-drop-2-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px) translateY(-12px);
        transform: translateZ(50px) translateY(-12px);
        -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px) translateY(-12px);
        transform: translateZ(50px) translateY(-12px);
        -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@media(max-width: 992px) {
    // .plan__block {
    //     margin-left: -10px;
    //     margin-right: -10px;
    // }

    .plan__item {
        width: 100%;
        max-width: 370px;
        margin: 20px auto;
    }
}


@media (max-width: 768px) {
    .plan {
        padding: 50px 0;
    }

    .plan__block {
        margin-top: 70px;
    }
}