.works__wrap {
    padding: 130px 0;
}

.works__title {
    text-align: center;

    margin-bottom: 40px;
}

.works__subtitle {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
}

.works__block {
    margin-top: 110px;
    text-align: center;
}

.works__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.works-btn {
    border: 2px solid $greenHover;

    margin: 10px 20px;

    transition-duration: 500ms;
    transition-property: background-color, color;

    &:hover {
        background-color: $greenHover;
        color: $white;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}


.works-item {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
}

.works-img {
    width: 100%;
}

.works__grid {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works-view {
    margin: 0 auto;
}


@media (max-width: 760px) {
    .works__wrap {
        padding: 70px 0;
    }

    .works__block {
        margin-top: 60px;
        text-align: center;
    }

    .works__grid {
        margin-top: 50px;
    }
}



@media (max-width: 560px) {
    .works__buttons {
        flex-direction: column;
    }

    .works-btn {
        &:first-child {
            margin-right: 0;
        }

        &:last-child {
            margin-left: 0;
        }
    }

}