$black: #000;
$white: #fff;

$green: #4CAF50;
$btnMain: #0063FF;
$blue: #27587B;
$red: #CE5757;
$lightGreen: #7DB10D;
$purple: #9160C2;
$gray: #F3F3F3;
$darkGreen: #357B38;
$darkBlue: #0F3A7E;
$darkRed: #AC3636;
$darkGreen2: #5A7D0E;
$darkPurple: #693D96;
$articleColor: #434343;
$footerBg: #0E3C5C;