header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

}

.nav {
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include sm {
    align-items: center;
  }

  @include xs {
    flex-direction: column;
    height: 5rem;
  }
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 2.5rem;

  @include xs {
    margin-bottom: 2.5rem;
  }
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;

  transition: opacity .3s;
}

.nav-link:hover {
  opacity: .6;
}

.logo-box {
  display: block;
  width: 8rem;

  @include xs {
    margin: 2rem 0;
  }
}