.cabinet {
  display: flex;

  @include br($mobile-br) {
    flex-direction: column;
  }
}

.cabinet__form {
  width: 34rem;

  @include br($mobile-br) {
    order: 2;
  }
}

.cabinet__avatar {
  flex-grow: 1;
  padding-left: 11rem;


  img {
    display: block;
    margin-bottom: 1.5rem;
  }

  @include br($mobile-br) {
    order: 1;
    padding-left: 0;
  }
}

.cabinet__file {
  font-size: 1.4rem;
  color: $blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $white;
  }

  input {
    display: none;
  }
}