.modal {
  // display: flex;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;

  background-color: rgba($black, .8);

  position: fixed;
  top: 0;
  left: 0;

  z-index: $z-index-modal;
}

.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 8rem;
  position: relative;

  background-color: $primary;
  border-radius: $radius-sm;

  &--contact {
    padding-bottom: 2.5rem;
  }
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  opacity: .5;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  transition: transform .2s ease-in-out, opacity .3s linear;

  &:hover {
    transform: rotate(90deg) scale(1.2);
    opacity: 1;
  }
}

.modal__footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;


  color: #B2B2B2;

  &-item {
    margin: 0 .5rem;
    margin-bottom: 2rem;

  }

  &-link {
    transition: color .2s linear;

    &:hover {
      color: $white;
    }
  }
}