.related {
  padding: 3rem 0 .5rem;
  padding-bottom: .5rem;

  border-bottom: 1px solid #1c1c1c;
}


.related__list {
  display: flex;
  flex-wrap: wrap;

  @include br($mobile-br) {
    flex-direction: column;
  }
}

.related__list-item {
  width: 50%;
  margin-bottom: 2.5rem;

  @include br($mobile-br) {
    width: 100%;
  }
}

.related__list-title {
  color: #F3EBA2;
  font-size: 1.4rem;
  font-weight: 500;


}

.related__list-date {
  font-size: 1.2rem;
  color: #828282;
}