.social {
  display: flex;
  justify-content: center;

  @include br($tablet-br) {
    display: none;
  }

}

.social__item {
  margin: 0.75rem;
}

.social__link {
  svg {
    width: 25px;
    height: 25px;
  }
}