.app__container {
  @include xs {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md-min {
    column-gap: 7rem;
  }
}

.app__data {
  text-align: center;

  @include xs {
    text-align: initial;
  }
}

.app__initial {
  @include xs {
    text-align: initial;
  }
}

.app__description {
  margin-bottom: var(--mb-5);
}

.app__stores {
  margin-bottom: var(--mb-4);
}

.app__store {

  width: 120px;
  margin: 0 var(--mb-1);

  @include sm-min {
    margin: 0 var(--mb-1) 0 0;
  }
}

.app__img {
  width: 230px;
  justify-self: center;

  @include xs {
    width: 380px;
    order: -1;
  }
}