.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  @include sm-min {
    margin-top: var(--mb-6);
  }
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  margin-bottom: var(--mb-2);

  fill: var(--first-color);

}

.services__title {
  font-size: var(--h3-fsz);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  padding: 0 1.5rem;
}