.hero {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-image: url('../images/Background.png');
  background-color: #011618;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;




}

.scroll {

  display: flex;
  flex-direction: column;
  align-items: center;


  &__name {
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;

    animation: scroll .4s infinite alternate;
  }

  @include sm {
    display: none;
  }
}

@keyframes scroll {
  to {
    transform: translateY(0);
  }

  from {
    transform: translateY(1rem);
  }


}