@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: "opensans", "Arial", sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

body.no-scroll,
body.show-nav {
	overflow: hidden;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.container {
	@include min-max(320px, 100%, 0);

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;

}

.wrap {
	max-width: 1170px;
	display: block;
	margin: 0 auto;
}

.button {
	padding: 14px 15px;
	box-sizing: border-box;
	background-color: transparent;
	outline: none;
	text-transform: uppercase;

	cursor: pointer;
}

.hide {
	display: none;
}

.hideTwo {
	display: none;
}

.show {
	display: block;
}

@media (max-width: 980px) {
	.wrap {
		padding: 0 10px;
	}
}