@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: 'inter_regular', 'Arial', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.page {
	@include min-max(320px, 100%, 10px);
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.titleH2 {
	font-family: 'playfairD_bold', sans-serif;
	font-size: 36px;
	line-height: 1.4;
	color: $black;
}