@font-face {
  font-family: 'inter_medium';
  src: url('/fonts/Intermedium.woff2') format('woff2'),
    url('/fonts/Intermedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter_regular';
  src: url('/fonts/Interregular.woff2') format('woff2'),
    url('/fonts/Interregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter_semibold';
  src: url('/fonts/Intersemibold.woff2') format('woff2'),
    url('/fonts/Intersemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muli_bold';
  src: url('/fonts/Mulibold.woff2') format('woff2'),
    url('/fonts/Mulibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muli_light';
  src: url('/fonts/Mulilight.woff2') format('woff2'),
    url('/fonts/Mulilight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muli_regular';
  src: url('/fonts/Muliregular.woff2') format('woff2'),
    url('/fonts/Muliregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfairD_bold';
  src: url('/fonts/Playfairdisplaybold.woff2') format('woff2'),
    url('/fonts/Playfairdisplaybold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}