@import "reset.css";
/* Fonts */
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Colors */
/* Buttons gradient*/
.btnGrad {
  background-image: linear-gradient(-232deg, #a12ab1 0%, #c40fb8 100%);
}
/* Wrapper */
.wrapper {
  width: 100%;
  width: 1140px;
  margin: 0 auto;
}
/*Styles*/
/*Header nav*/
.header__nav {
  font-family: Circe;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.header__nav a {
  text-decoration: none;
}
.header__nav .header__menu {
  display: flex;
  align-items: center;
}
.header__nav .header__menu li {
  display: inline-block;
}
.header__nav .header__menu li:first-child::after {
  display: none;
}
.header__nav .header__menu li::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3.5px 0 3.5px;
  border-color: #333333 transparent transparent transparent;
  display: inline-block;
  margin-right: 50px;
}
.header__nav .header__menu .header__item {
  margin-right: 9px;
}
.header__nav .header__menu .catalog {
  color: #fff;
  height: 49px;
  background-color: #a11db0;
  padding: 17px 23px 16px 20px;
  margin-right: 24px;
}
.header__nav .header__menu .catalog i {
  margin-right: 19px;
}
.header__nav .header__btn {
  font: inherit;
  color: #fff;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background-color: #8dd7e0;
  background-image: linear-gradient(-232deg, #a12ab1 0%, #c40fb8 100%);
  padding: 14px 18px 17px 32px;
}
.header__nav .header__btn i {
  margin-left: 15px;
}
/* Header info*/
.header__slider {
  display: flex;
  padding: 30px;
}
.header__slider .slider {
  height: 630px;
  width: 590px;
  align-items: center;
}
.header__slider .header__description .header__contacts {
  display: flex;
}
.header__slider .header__description .header__contacts .left_block .download {
  color: #a628b4;
  font-family: Circe;
  font-size: 14px;
  font-weight: 700;
  width: 210px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d69add;
}
.header__slider .header__description .header__contacts .right_block .phone {
  color: #333333;
  font-family: Circe;
  font-size: 24px;
  font-weight: 700;
}
.header__slider .header__description .header__contacts .right_block .phone img {
  margin-right: 16px;
}
.header__slider .header__description .header__main {
  margin-top: 88px;
  text-align: center;
  margin-bottom: 77px;
}
.header__slider .header__description .header__main h2 {
  color: #333333;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 30px;
}
.header__slider .header__description .header__main h1 {
  color: #333333;
  font-family: "Circe";
  font-size: 54px;
  font-weight: 800;
  line-height: 90px;
}
.header__slider .header__description .header__features {
  display: flex;
  flex-wrap: wrap;
}
.header__slider .header__description .header__features .features__title {
  color: #333333;
  font-family: Circe;
  font-size: 16px;
  font-weight: 300;
  margin-right: 20px;
  line-height: 20px;
}
.header__slider .header__description .header__features .features__title i {
  margin-right: 21px;
}
.header__slider .header__description .header__features .features__title span {
  display: inline-block;
}
