.catalog {
  padding: 80px 0;
}

// .catalog__container {
//   border-radius: $radius;
//   box-shadow: $shadow;
// }

.catalog__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.catalog__nav-item {
  margin: 0 20px;
  padding: 10px 30px;

  font-size: 1.1rem;
  color: var(--color-white);

  background-color: var(--color-orange);
  border-radius: $radius;
  box-shadow: $shadow-btn;

  transition: transform .3s, background-color .3s;

  &--current {
    transform: scale(1.17);
    background-color: var(--color-orange-h);
  }

  &:hover {
    transform: scale(1.17);
    background-color: var(--color-orange-h);
  }
}


.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}


.catalog-item {
  width: 24%;

  padding: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  border-radius: $radius;

  transition: box-shadow .3s;


  &__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    padding: 15px;

    background-color: transparent;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: var(--color-orange);

      opacity: 0;

      transition: opacity .2s;

    }

    img {
      width: 100%;
      transition: all .3s;
      background-color: var(--color-orange);
      border-radius: 100%;
    }

  }

  &:hover {
    box-shadow: $shadow;

    .catalog-item__img {

      &::before {
        opacity: 1;

      }

      img {
        transform: rotate(10deg);
        bottom: 10px;
        box-shadow: $shadow-pizza;
      }

    }
  }

  &__text {
    margin-bottom: auto;

    &-top {
      margin-bottom: 15px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-name,
      &-price {
        margin: 0;
        font-family: 'Rubik';
        font-size: 1.2rem;
      }
    }

    &-bottom {
      margin-bottom: 20px;
    }
  }

  &__descr {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }

  .btn-item {
    padding: 10px 20px;


    border-radius: $radius;
    background: var(--color-orange);
    color: var(--color-white);

    transition: box-shadow .3s, transform .2s;

    &:hover {
      box-shadow: $shadow-btn;
      transform: scale(1.1);
    }

  }

}

// .catalog-item__img {}

@keyframes scalePizza {

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
