.header {
  position: relative;
}

.header__menu {

  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);

  box-shadow: $shadow;
  border-radius: 0 0 30px 30px;
}

.header__logo {
  user-select: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-dark);
}

.header__nav {

  transition: right .4s;

  @include md {


    position: fixed;
    right: -150vw;
    top: 0;
    z-index: 15;

    width: 100%;
    max-width: 300px;
    height: 100vh;


    text-align: right;

    background-color: var(--color-white);
  }


}

.show {
  right: 0;
}



.burger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 18px;
  padding: 0;

  &__item {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;

    background-color: var(--color-black);

    font-size: 0;
    color: transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      z-index: 1;

      width: 30px;
      height: 2px;
      background-color: var(--color-black);
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  @include md {
    display: block;
  }
}
