.nav__list {
  display: flex;

  @include md {
    flex-direction: column;

  }

}

.nav__item {
  margin-left: 35px;

  &-link {
    text-decoration: none;
    color: var(--color-black);
  }

  @include md {
    padding: 20px 45px;
    padding-left: 0;
  }
}

.nav__btn {
  white-space: nowrap;
}

.nav__close {
  display: none;
  width: 20px;
  height: 20px;
  padding: 0;

  font-size: 0;
  color: transparent;

  transition: transform .3s;

  &-item {


    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      left: 0;
      background-color: var(--color-black);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }


  }

  &:hover {
    transform: rotate(90deg);
  }

  @include md {
    display: block;

    position: absolute;
    top: 20px;
    left: 20px;



  }
}
