.footer {
  position: relative;

  padding: 53px 0;
  padding-bottom: 0;

  background-color: var(--color-purple);

  &::before {
    z-index: 5;
    content: '';
    position: absolute;
    right: 144px;
    top: -64px;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    border: 5px solid #FFBA49;
  }
}

.footer__container-top {
  border-bottom: 1px solid #9A7DFF;
}


.footer__top {
  max-width: 1227px;
  margin: 0 auto;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;

  color: white;


}

.footer__bonus {
  display: flex;
  justify-content: space-between;

  margin-bottom: 141px;

  &-item {
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    color: inherit;

    span {
      font-weight: 700;
    }

    svg {
      margin-right: 15px;
      width: 41px;
      height: 41px;


      fill: var(--color-white);
    }
  }
}

.footer__block-logo {
  margin: 0 auto;
  max-width: 183.5px;

  img {
    width: 100%;
  }
}

.footer__container-center {
  max-width: 1106px;
  margin: 0 auto;
}

.footer__center {
  padding-top: 35px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;

  color: var(--color-white);
}

.footer__list-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer__list-item {
  margin-bottom: 5.5px;

  &-link {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    color: var(--color-white);

    position: relative;



    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      background: currentColor;
      display: block;
      backface-visibility: hidden;
      transition: all .3s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

  }
}


.footer__bottom {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: var(--color-white);
  color: var(--color-black);
}

.footer__bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;

  &-link {
    margin-right: 54px;
  }

  &-icon {

    fill: var(--color-black);
    transition: fill .2s, transform .2s;

    &:hover {
      fill: var(--color-purple);
      transform: scale(1.1);
    }

    &-tw {
      width: 25px;
      height: 20px;
    }

    &-fb {
      width: 20px;
      height: 20px;
    }

    &-rss {
      width: 20px;
      height: 20px;
    }

    &-ig {
      width: 20px;
      height: 20px;
    }
  }


}

.footer__copy {
  font-size: 12px;
  text-transform: uppercase;

  &-link {
    text-decoration: underline;
    color: inherit;
  }
}
