.form {
  border: 1px solid var(--color-white);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  padding: 30px;
}



.form-title {
  font-size: 2rem;
  color: var(--color-white);

  @include xs {
    font-size: 1.5rem;
  }
}

.form-label {
  display: flex;
  margin-bottom: 20px;
  position: relative;

  @include xs {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.js-validate-error-label {
  position: absolute;
  right: 5px;
  top: 100%;
}

.form-label span {
  flex-grow: 1;
  display: inline-block;
  font-size: 1rem;
  color: var(--color-white);

  @include xs {
    margin-bottom: 10px;
  }
}

.form-label input:not([type="file"]) {
  border: none;
  border-bottom: 1px solid var(--color-white);
  border-radius: 0;
  background: transparent;
  outline: none;
  color: var(--color-white);

  &::placeholder {
    font-weight: 300;
    color: darken($color: #fff, $amount: .1);
    opacity: .3;
  }
}

.js-validate-error-field {
  border: 1px solid var(--color-white) !important;
  color: var(--color-white) !important;
}

.js-validate-error-label {
  color: var(--color-white) !important;
}

.form-label input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.file-label span {
  border: 1px solid #000;
  display: inline-block;
  padding: 5px 10px;
  flex-grow: 0;
  cursor: pointer;
}

.form button {
  padding: 10px 30px;
  border-radius: $radius;
  background-color: var(--color-white);
  border: none;
  font-size: 16px;
  cursor: pointer;

  transition: all .3s;

  &:hover {
    transform: scale(1.1);
  }
}

.form h2 {
  text-align: center;
  margin-top: 0;
}
