.simple {
  padding-bottom: 145px;
}

.simple__container {
  max-width: 1460px;
}

.simple__title {
  position: relative;
  z-index: 5;

  max-width: 500px;
  margin: 0 auto;


  font-family: 'CircularStd', sans-serif;
  font-weight: 700;

  line-height: 1.27;
  text-align: center;
  color: var(--color-title);
}

.simple__block {
  position: relative;
  z-index: 5;
  margin-top: 79px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.simple__item {
  width: 30%;

  position: relative;

  &:nth-child(1) {

    &::before {
      content: url('../img/s-1-1.png');
      position: absolute;
      top: 8px;
      left: -100px;

    }
  }

  &:nth-child(2) {
    margin-top: 73px;


    &::before {
      content: url('../img/s-2-1.png');
      position: absolute;
      top: -30px;
      left: 20px;

    }
  }

  &:nth-child(3) {
    margin-top: 150px;

    &::before {
      content: url('../img/s-3-1.png');
      position: absolute;
      top: -135px;
      left: 20px;

    }
  }

  &-img {



    margin-bottom: 42px;
    max-height: 292px;
    box-shadow: $shadow-img;
    background-color: transparent;
    border-radius: $radius;

    img {
      border-radius: $radius;
    }


  }

  &-title {
    margin-bottom: 5px;

    font-family: 'CircularStd', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.94;
    color: var(--color-title);

    @include md {
      font-size: 26px;
    }
  }

  &-descr {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 1.6;
    color: var(--color-gray);

    @include md {
      font-size: 16px;
    }
  }

  &-link {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 18px;
    line-height: 1.38;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      background: currentColor;
      display: block;
      backface-visibility: hidden;
      transition: all .3s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    @include md {
      font-size: 16px;
    }
  }



  @media (max-width: 1600px) {
    &::before {
      display: none;
    }
  }

  @media (max-width: 1400px) {
    width: 48%;

    margin-bottom: 40px;

    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }


    &-img {
      overflow: hidden;
    }


    img {
      width: 100%;
    }
  }

  @include md {
    width: 100%;


  }

  @include xxs {
    &-img {
      display: flex;
    }
  }

}
