.support {
  padding-top: 70px;

}

.support__container {
  max-width: 1468px;

}

.support__text {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  text-align: center;

}

.support__title {
  margin-bottom: 10px;
  margin-top: 0;
}

.support__descr {

  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
}

.support__team {
  padding-top: 12px;
  width: 100%;
  position: relative;

  &-img {
    width: 100%;
    object-fit: none;

    @media (max-width: 1400px) {
      object-fit: cover;
    }
  }

  &::before {
    position: absolute;
    left: -158px;
    top: 31px;
    z-index: -1;
    content: '';
    background: url('../img/support-dots.png');
    width: 1693px;
    height: 381px;


  }
}

.support__get {
  margin-top: -172px;
  padding-top: 82px;
  padding-bottom: 78px;

  position: relative;
  z-index: 5;

  background-color: #5F37EF;

  &-block {
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm {
      flex-direction: column;
    }
  }

  &-title {
    max-width: 855px;
    margin: 0;
    margin-right: 67px;


    font-size: 36px;
    line-height: 1.4;
    color: var(--color-white);
    font-weight: 400;

    @include sm {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
    }

    span {
      font-weight: 700;
    }

    @include lg {
      font-size: 24px;
    }

    @include sm {
      font-size: 18px;
    }


  }

  &-btn {
    padding: 26px 46px;
    border: 2px solid var(--color-white);
    border-radius: $radius-btn;

    color: var(--color-white);
    text-transform: uppercase;

    transition: all .3s;

    &:hover {
      background: var(--color-white);
      color: var(--color-black);
    }

    @include lg {
      padding: 10px 30px;
    }

  }

  @include lg {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: -144px;
  }

  @include md {
    margin-top: -121px;
  }

  @include sm {
    margin-top: -92px;
  }

  @include xs {
    margin-top: -65px;
  }

  @include xxs {
    margin-top: -55px;
  }
}
