.testimonials {
  padding-top: 120px;
  padding-bottom: 339px;
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  position: relative;
  z-index: 1;


  @include md {
    padding-bottom: 135px;
  }

}


.testimonials__title {
  text-align: center;
  margin: 0;
  margin-bottom: 103px;
}

.testimonials-slider {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -183px;
    left: -112px;
    width: 1585px;
    height: 739px;
    background: url('../img/testim-people.png');
    background-size: cover;

    @include lg-max {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -3;
    top: 25px;
    left: 253px;
    width: 979px;
    height: 495px;
    background: url('../img/dots-slide-2.png');

    @include lg-max {
      top: -55px;
      left: 100px;
    }

    @include md {
      display: none;
    }
  }
}

.testimonials-slider__block {
  position: relative;

  max-width: 730px;
  width: 100%;
  max-height: 391px;
  height: 100%;
  margin: 0 auto;

  background: #fff;
  padding: 108px 80px 85px;
  border-radius: 20px;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);

    background-color: #fff;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: $radius;


  }

  &::before {
    z-index: -1;
    bottom: -30px;
    max-width: 678px;
    width: 100%;
    height: 363px;

    @include md {
      height: 163px;
    }

  }

  &::after {
    z-index: -2;
    bottom: -50px;
    max-width: 618px;
    width: 100%;
    height: 331px;

    @include md {
      height: 131px;
    }
  }

  @include md {
    padding: 58px 40px 45px;
    max-height: none;
  }
}

.testimonials-slider__slide {
  position: relative;
  z-index: 5;
  background: #fff;

  width: 100% !important;
  height: 100% !important;


  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 234px;
    height: 168px;
    background: url('../img/dots-slide.png');

    @include md {
      max-width: 134px;
      background-size: cover;
      height: 88px;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  p {
    margin: 0;

    font-family: 'CircularStd', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-gray);

    @include md {
      font-size: 20px;
    }
  }
}

.testimonials__arrows {
  position: absolute;
  bottom: -117px;
  right: 464px;

  display: flex;

  @include lg {
    right: 50%;
    transform: translateX(50%);
  }

}

.testimonals__arrow {
  width: 52px;
  height: 25px;

  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: var(--color-black);
  }

  &--prev {
    margin-right: 20px;
    transform: rotate(180deg);
  }

  &--prev.swiper-button-disabled {
    opacity: .3;
    transform: scale(0.6) rotate(180deg);

    transition: all .3s;
  }

  &--next.swiper-button-disabled {
    opacity: .3;
    transform: scale(0.6);

    transition: all .3s;
  }


}
