@import url(reset.css);

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 940px;
	margin: auto;
}

.header {
	max-height: 100px;
	padding: 18px 0;

	background-color: #fff;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;

	font-size: 16px;
	line-height: 18px;
}

.logo__name {
	display: inline-block;
	margin-left: 10px;
}

.header__info {
	text-align: center;
}

.phone {
	display: block;
	margin-bottom: 10px;

	font-weight: bold;
	font-size: 22px;
}

.header__contacts {
	text-align: right;
}

/*Section main*/

.main {
	max-height: 550px;

	padding: 50px 0;

	background-image: url(../img/bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

.main__box {
	display: flex;
	align-items: center;
}

.main__info {
	width: 70%;
}

.main__title {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 80px;
}

.main__check {
	margin-bottom: 30px;
	display: flex;
}

.main__check:last-child {
	margin-bottom: 0;
}

.main__icon {
	margin-right: 10px;
	width: 1em;
	height: 1em;
}

.main__text {
	display: inline-block;
}

.form {
	background-color: #fff;
	color: #000;

	max-width: 320px;

	margin-left: 50px;
	padding: 25px 20px;
	text-align: center;
}

.form__container {
	display: flex;
}

.form__title {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;

	margin-bottom: 15px;
}

.form__subtitle {
	margin-bottom: 25px;
}

input {
	text-align: center;
	width: 280px;
}

input[type="text"],
input[type="tel"] {
	padding: 15px 0;
	margin-bottom: 15px;
}

.form__btn {
	width: 100%;
	padding: 15px 0;

	background: linear-gradient(#e60204, #ad0509);
	color: #fff;
	border: none;

	margin-bottom: 10px;
}

.form__warn {
	font-size: 13px;
	color: #848484;
}

/*Advantages section*/

.advantages {
	padding: 80px 0;
}

.advantages__box {
	text-align: center;
}

.advantages__title {
	margin-bottom: 90px;
}

.advantages__items {
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	width: 30%;
}

.advantages__icon {
	margin-bottom: 45px;
}

.advantages__item:nth-child(2) > .advantages__icon {
	margin-bottom: 43px;
}

.advantages__item__title {
	margin-bottom: 35px;

	font-weight: bold;
	font-size: 18px;
}
