@import url(reset.css);
@import url(media.css);
body {
	font-family: "Fira Sans";

	padding: 0;
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.container {
	max-width: 1150px;
	margin: auto;
	padding: 0;
}

.header {
	height: 100vh;
	padding: 80px 0;

	background-size: cover;
	background-position: center;

	background-image: url(../img/SLANTED.png);
}

.header-logo {
	grid-column: 3/9;
}

.header__menu {
	grid-column: 14;

	justify-self: end;
}

.header__menu img {
	margin-left: auto;

	display: block;
}

.header__menu span {
	display: block;

	text-transform: uppercase;
	margin-top: 10px;

	font-size: 0.7rem;
}

.header__container {
	grid-row-gap: 250px;
}

.main__text {
	grid-column: 3 / 9;
	grid-row: 2;
}

.header__title {
	font-size: 5rem;
	font-weight: 300;

	margin-bottom: 50px;
}

.header__subtitle {
	font-size: 2rem;
}

.header__subtitle span {
	font-weight: 700;
}

.travel {
	min-height: 500px;

	position: relative;
}

.travel__left {
	grid-column: 3 / 9;

	left: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.travel__right {
	grid-column: 9/15;

	padding: 110px 0 110px 60px;
}

.title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 30px;

	text-transform: uppercase;
}

.subtitle {
	font-size: 2.5rem;
	font-weight: 300;
}

.photos {
	position: relative;
}

.grid-p {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
}
.photos__block img {
	width: 100%;
}

.photos__block img:nth-child(1) {
	grid-column: 1 / 5;
}

.photos__block img:nth-child(2) {
	grid-column: 5/9;
}

.photos__block img:nth-child(3) {
	grid-column: 9/13;
	height: 100%;
}

.photos__block img:nth-child(4) {
	grid-column: 13/18;
}

.insta {
	background-color: #3f729b;
}

.insta__left {
	grid-column: 3/9;
	padding: 10px 0;

	color: #fff;

	align-self: center;
}

.insta__right {
	grid-column: 9/13;
}

.insta__right img {
	width: 100%;
	height: 100%;
}

.btn {
	margin-top: 30px;
	padding: 1rem 1.5rem;

	border: 1px solid #fff;
	border-radius: 50px;
	background-color: transparent;

	font-size: 1.2rem;
	letter-spacing: 1.2px;
}
.btn__green {
	margin-top: 30px;
	padding: 1rem 1.5rem;

	border: 1px solid #2ebd59;
	border-radius: 50px;
	background-color: transparent;

	font-size: 1.2rem;
	letter-spacing: 1.2px;
}

.btn__green a {
	text-decoration: none;
	text-transform: uppercase;
	color: #2ebd59;
}

.btn a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.play__left {
	color: #2ebd59;
}

.play {
	background-color: #282b2f;

	height: 100%;
}

.play__left {
	grid-column: 5/9;
	background-color: #212227;

	grid-row: 1;
	z-index: 10;

	padding: 30px 30px;
}

.play__right {
	grid-column: 5 / 17;
	grid-row: 1/3;
}
.play__right img {
	height: 100%;
	width: 100%;
}

.platform {
	position: relative;

	color: #fff;
}

.platform__box {
	z-index: 10;

	padding: 10% 0;
}

.left {
	grid-column: 1/9;

	background-color: #2ebd59;
	width: 50%;
	height: 100%;
	position: absolute;
}

.right {
	position: absolute;
	grid-column: 9/17;
	width: 50%;
	height: 100%;
	background-color: #282b2f;
	right: 0;
}

.left__title {
	grid-column: 3/9;
}

.right__title {
	grid-column: 9/15;

	padding-left: 60px;
}

@media only screen and (max-width: 1200px) {
	.header__title {
		font-size: 4rem;
	}

	.header__container {
		grid-row-gap: 150px;
	}

	.travel__left {
		grid-column: 3 / 9;

		left: 0;
		position: absolute;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.travel__right {
		grid-column: 9/15;

		padding: 80px 0 80px 40px;
	}

	.title {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 30px;

		text-transform: uppercase;
	}

	.subtitle {
		font-size: 2rem;
		font-weight: 300;
	}

	.play__left {
		grid-column: 3/9;
		background-color: #212227;

		grid-row: 1;
		z-index: 10;

		padding: 70px 60px 45px 60px;
	}

	.play__right {
		grid-column: 3 / 17;
		grid-row: 1/3;
	}

	.btn {
		font-size: 0.6rem;
	}

	.btn__green {
		font-size: 0.6rem;
	}
}

@media only screen and (max-width: 992px) {
	.header__title {
		font-size: 3rem;
	}

	.header__subtitle {
		font-size: 1.5rem;
	}

	.header__container {
		grid-row-gap: 100px;
	}

	.main__text {
		grid-column: 3 /11;
		grid-row: 2;
	}

	.title {
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 30px;

		text-transform: uppercase;
	}

	.subtitle {
		font-size: 1.5rem;
		font-weight: 300;
	}

	.play__right {
		grid-column: 1 / 17;
		grid-row: 1/3;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.play__left {
		grid-column: 3/9;

		padding: 15px 15px;
	}

	.insta__right {
		grid-column: 9/17;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
