.banners {
  &__container {
    padding-top: 50px;
    padding-bottom: 30px;

    @include xs {
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;

    @include md {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 33%;

    &:not(:last-child) {
      margin-right: 1%;
    }

    @include md {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.banners-article {
  padding: 54px 60px;
  padding-right: 50%;
  min-height: 290px;

  background-color: #e9e4df;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-midseasons {
    background-image: url("../../img/art1.jpg");
  }

  &-summer {
    background-image: url("../../img/art2.jpg");
  }

  &-accs {
    background-image: url("../../img/art3.jpg");
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 36px;
  }

  @include md {
    padding: 50px 20px;
  }

  @include sm {
    padding-right: 100px;
  }
}
