.shop-nav {
  display: flex;
  align-items: center;
  

  &__link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--user {
      background-image: url("../../img/user.png");
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.cart {
  width: auto;
  height: auto;
  &__icon {
    background-image: url("../../img/cart.png");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__quantity {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    height: 16px;

    border-radius: 25px;

    font-size: 10px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-dark);
  }
}

.search-form {
  &__btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../img/search.png");
  }
}
