.shop-banners {
  padding-top: 75px;
  &__container {
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
    }
  }
}

.shop-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 160px 20px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-dark);

  color: var(--color-white);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($color: #d70808, $alpha: 0.1);
  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 0;
    margin-bottom: 20px;

    font-size: 48px;
    font-weight: 500;

    @include md {
      font-size: 40px;
    }

    @include sm {
      font-size: 28px;
    }
  }

  &__text {
    position: relative;
    z-index: 1;

    font-size: 15px;
  }

  &--man {
    background-image: url("../../img/banner1.jpg");
  }

  &--woman {
    background-image: url("../../img/banner2.jpg");
  }

  @include md {
    padding: 30px;
    min-height: 300px;
  }

  @include xs {
    width: 100%;

    min-height: 250px;
  }
}
