/* Fonts */

@import "fonts";

/* Variables */

@import "vars";

/* Mixins */

@import "mixins";

/* Default styles */

html {
    font-size: 15px;
}
body {
    margin: 0;

    font-family: 'Futura', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

/* Bootstrap */

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/buttons";

/* Blocks */

@import "blocks/header";
@import "blocks/nav";
@import "blocks/logo";


/* Vendor libs*/

