/* Fonts */

@import "fonts";

/* Variables */

@import "vars";

/* Mixins */

@import "mixins";

/* Default styles */

html {
    font-size: 15px;
}
body {
    margin: 0;

    font-family: 'Futura', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;

    background-color: $black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.page {
    border-right: 20px solid $primary;
    border-bottom: 20px solid $primary;
    border-left: 20px solid $primary;
    min-height: 100vh;
}

/* Bootstrap */

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/buttons";

/* Blocks */

@import "blocks/header";
@import "blocks/nav";
@import "blocks/logo";
@import "blocks/main";
@import "blocks/portfolio";
@import "blocks/slider";


/* Vendor libs*/

