$primary: #2c2c2c;
$black: #1d1c1c;
$white: #fff;
$orange: #a26b57;
$gray: #878787;
$indent: 15px;
$radius: 10px 10px 15px 15px;

$media_sm: 480px;
$media_md: 768px;
$media_lg: 992px;
$media_xl: 1200px;