.header {
  margin-right: -2rem;
  padding-bottom: 4rem;

  @include lg {
    margin-right: 0;
    padding: 2rem 0;
    // position: sticky;
    // top: 0;
    // left: 0;
    // z-index: 999;
    // width: 100%;

    // background: #222;

    // box-shadow: 0 0px 17px rgba($blue, .9);

  }


}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include md {
    position: relative;

  }
}

.header__nav {

  @include md {

    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 0 7rem;

    position: fixed;
    top: 5rem;
    right: -150vw;
    z-index: 10;

    background: #222;

    text-align: right;
    color: #aaa;

    transition: all .3s;
  }
}

.header__burger {
  display: none;

  transition: all .3s;
  opacity: 0;

  @include md {
    display: block;
    opacity: 1;
  }
}

.logo {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;

  @include xs {
    font-size: 1.5rem;
  }
}