.links {
  padding: 2rem 0;
  padding-right: 7rem;
  padding-left: 7rem;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  border-top: 1px solid #353535;

  a {
    color: #aaa;
    margin-right: 2rem;
  }

  @include lg {
    padding-right: 3rem;
    padding-left: 3rem;

  }
}