.modal {
  display: flex;
  flex-direction: column;
  --transition-time: .3s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;


  background-color: rgba(#000, .5);
  cursor: pointer;

  text-align: center;


  visibility: hidden;

  transform: translateX(-100%);

  transition: transform var(--transition-time), visibility var(--transition-time), opacity .3s;


}



.modal__container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5rem;
  margin: 1rem auto;
  display: none;
  vertical-align: middle;
  overflow: auto;

  max-width: 1440px;
  background-color: lighten($color: $black, $amount: 10%);
  border-radius: $radius-sm;
  cursor: default;
  text-align-last: left;

  transition: opacity .3s linear;

  &::-webkit-scrollbar {
    width: 0;
  }

  @include lg {
    margin: 0 auto;
  }

  &-thanks {
    max-width: 700px;
  }
}

.modal-close {
  margin-left: auto;
  padding: 0;
  display: block;

  cursor: pointer;
  border: 0;
  background: transparent;
  width: 20px;
  height: 20px;

  transition: all .3s linear;

  &:hover {
    transform: rotate(90deg) scale(1.3);
  }

  &__icon {
    width: 100%;
    height: 100%;

    fill: $white;
  }
}

.modal.is-open {
  // opacity: 1;
  visibility: visible;
  transition: transform .3s, visibility .3s, opacity .3s;

  transform: translateX(0);
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  transition: opacity .3s;
}

.fade.animate-open {
  opacity: 1;
  transition: opacity .3s;
}

.content {
  min-height: 200vh;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal__thanks {
  padding: 20px;
  color: $white;
  font-size: 2rem;
  text-align: left;
}

// *:focus {
//   outline: 3px solid red;
// }