.pers {
  padding: 5% 10%;

  @include lg {
    margin-bottom: 4rem;
  }
}

.pers__block {
  display: flex;
  justify-content: center;

  @include lg {
    flex-direction: column;
    text-align: center;
  }
}





.pers__ava-img {
  display: block;
  width: 100%;
  max-width: 350px;
  height: auto;

  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: $avaBorder 18px solid;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .8);

  @include lg {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}


.pers__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;

  text-shadow: 0 12px 17px rgba(0, 0, 0, .5);

  @include lg {
    margin-left: 0;
  }
}

.pers__prof {
  color: #aaa;
  font-size: 1.6rem;

}

.pers__name {
  margin-bottom: 1.3rem;

  color: $white;
  font-size: 2.5em;
  font-weight: 700;
}

.pers__btns {
  margin-top: 20px;
  display: flex;

  @include lg {
    justify-content: center;
  }

  @include xs {
    flex-direction: column;
    align-items: center;
  }
}

.pers__about {
  margin-bottom: 30px;
}

.pers__cv {
  margin-right: 1.8rem;

  transition: all .2s;

  box-shadow: 0 12px 17px rgba(0, 0, 0, .2);

  &:hover {
    border-color: $blue;
    background-color: $blue;
  }

  @include xs {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.pers__contact {
  transition: all .2s;
  box-shadow: 0 12px 17px rgba(0, 0, 0, .2);

  &:hover {
    color: #333;
    border-color: #d5d5d5;
    background-color: #d5d5d5;
  }
}