.portf-item__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @include sm {
    flex-direction: column-reverse;
  }

}

.portf-item__title {
  margin-bottom: 4rem;

  @include sm {
    font-size: 2.5rem;
  }
}

.portf-item__work {
  display: block;
  width: 58%;

  @include sm {
    width: 100%;

  }


}

.portf-item__img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 2.5rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }


}

.portf-item__descr {
  width: 40%;
  padding: 2rem;

  border: 2px solid #434343;
  border-radius: 20px;
  background-color: #323232;

  &-name {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  @include sm {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.portf-item__about {
  text-align: left;
  margin-bottom: 1rem;
}

.portf-item__link {
  color: $blue;
  text-decoration: underline;
}

.portf-item__list {
  display: flex;
}

.portf-item__cat {
  padding: .5rem 1rem;
  margin: .5rem;
  margin-left: 0;

  background: #222;
  border-radius: 10px;
}