// COLORS
:root {
  --color-black: #222;
  --color-white: #fff;
  --color-orange: #f6b002;
  --color-orange-h: #ffc32a;
  --color-red: #e94b35;
  --color-green: #00d258;
  --color-gray: #999999;
}

$radius: 30px;
$shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
$shadow-pizza: 0 0px 15px rgba(0, 0, 0, 0.3);
// $shadow-btn: 0 0px 18px rgba(0, 0, 0, 0.15);
$shadow-btn: 0 6px 30px rgba(0, 0, 0, 0.13),
0 5px 12px rgba(0, 0, 0, 0.11);
