@font-face {
  font-family: 'inter-medium';
  src: url('/fonts/Intermedium.woff2') format('woff2'),
    url('/fonts/Intermedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter-regular';
  src: url('/fonts/Interregular.woff2') format('woff2'),
    url('/fonts/Interregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter-semibold';
  src: url('/fonts/Intersemibold.woff2') format('woff2'),
    url('/fonts/Intersemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfairD';
  src: url('/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}