@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import "mixins/font-face";
@import "mixins/breakpoints";
@import "mixins/visually-hidden";
@import "vars";
@import "vendor/reset";
@import "vendor";
@import "fonts";

:root {
    --header-height: 3rem;
    --first-color: #fca4a6;

    --first-color-dark: #c1576a;
    --first-color-darken: #a83e51;
    --white-color: #fcf8f8;

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-foint-size: .938rem;

    --z-fixed: 100;

}

@media screen and(min-width: 768px) {
    :root {
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}



body {
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    line-height: 1;


    &.no-scroll {
        overflow: hidden;
    }

    @include sm-min {
        margin: 0;
    }
}

// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.visually-hidden {
    @include visually-hidden;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 144.4rem;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;

    @include bg {
        margin-left: auto;
        margin-right: auto;
    }
}



.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    // color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    display: flex;
    flex-direction: column;
}

h1,
p,
ul {
    margin: 0;
}

/* Blocks */

@import "blocks/header";
@import "blocks/main";
@import "blocks/home";