html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;

}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1510px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.btn-r {
  border-radius: 60px;
}

.site-top {
  min-width: 1100px;
  margin-bottom: 259px;

  background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background: url('../img/main-g.png');
    background-repeat: no-repeat;

    right: 0;
    top: 0;
    width: 963px;
    height: 1087px;
    z-index: 1;
  }

}

.title {
  font-family: 'CircularStd', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.27;

  color: var(--color-title);
}
