// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-purple: #7854F7;
  --color-gray: #94A2B3;
  --color-title: #272D4E;
  --color-blue: #299EF3;
  --color-green: #70C217;
}

$darken-purple: darken(#7854F7, 10%);
$darken-green: darken(#70C217, 5%);
$radius-sm: 5px;
$radius: 20px;
$radius-btn: 50px;
$shadow-img: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
$shadow-read: -25px 20px 44px rgba(84, 48, 209, 0.4);
