<header class="header">
  <div class="container header__container">
    <a class="header__logo logo" href="#">Пицца 30 см за 299 руб!</a>
    <button class="btn-reset header__burger burger">
      <svg class="burger__icon">
        <use xlink:href="assets/images/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav class="header__nav nav">
      <button class="btn-reset nav__close">
        <svg class="nav__close-icon">
          <use xlink:href="assets/images/sprite.svg#delete"></use>
        </svg>
      </button>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="#">Главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#pizza">Пиццы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#pie">Пироги</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#drinks">Напитки</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Отзывы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link " href="#">Войти</a>
        </li>
      </ul>
    </nav>
  </div>

</header>