<header class="header">
  <div class="header__container">
    <div class="header__block">
      <a class="header__logo logo" href="index.html">Arslan Zhazykpaev</a>
      <button class="header__burger btn-reset burger" id="navToggle" type="button"><span class="burger__line">Menu</span></button>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a class="nav__list-link" href="index.html">Обо мне</a>
          </li>

          <!-- <li class="nav__list-item">
            <a class="nav__list-link" href="#">Резюме</a>
          </li> -->

          <li class="nav__list-item">
            <a class="nav__list-link " href="portfolio.html">Портфолио</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__list-link" href="https://github.com/arseqpage" target="_blank">GitHub</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__list-link" href="https://codepen.io/arseqpage" target="_blank">Codepen</a>
          </li>
          <li class="nav__list-item">
            <a class="nav__list-link" href="contacts.html">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>