.wrapper {
	min-height: 100%;

	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 80px 1fr max-content;

	grid-template-areas:
		"header"
		"content"
		"footer";
}

.header {
	grid-area: header;

	box-shadow: 0 2px 2px 0 rgba (00, 00, 00, 0.5);
}

.container {
	margin: 0 auto;
	display: grid;
	max-width: 960px;
	width: 95%;
}

.header__container {
	display: grid;

	grid-template:
		"left right" 1fr
		/ 1fr 1fr;

	align-items: center;
	height: 100%;
}

.header__left {
	grid-area: left;
}

.header__right {
	grid-area: right;

	justify-self: end;
}

.user {
	display: flex;
	align-items: center;
}

.user__avatar {
	background: #ccc;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
}

.content {
	background: #f6f6f6;

	grid-area: content;
}

.content__container {
	grid-template:
		"sidebar maincontent" 1fr
		/ 1fr 3.5fr;
}

.sidebar {
	grid-area: sidebar;
}

.maincontent {
	grid-area: maincontent;
}

.user-info {
	display: grid;
	grid-template: "avatar text" 1fr / 1fr 1.2fr;

	grid-gap: 0px 10px;
}

.user-info__avatar {
	grid-area: avatar;

	justify-self: center;
}

.avatar {
	width: 220px;
	height: 220px;

	background: #ccc;
	border-radius: 50%;
}

.footer {
	grid-area: footer;

	background: #414141;
}

.footer__container {
	height: 100%;

	display: grid;
	grid-template: "left right" 1fr / 1fr 1fr;

	align-items: center;
}

.footer__left {
	grid-area: left;
}

.footer__right {
	grid-area: right;

	justify-self: right;
}

.socials {
	list-style: none;

	display: flex;
	align-items: center;

	padding: 0;
	margin: 0;
}

.socials__link {
	text-decoration: none;

	display: block;

	width: 30px;
	height: 30px;

	border-radius: 50%;
	background: #9c9c9c;
}
