<header class="header" id="header">
    <nav class="nav">
        
        <div class="nav__logo">
         <a class="logo" href="#"><span class="logo--orange">MoveIn</span> Design</a>
        </div>
        
       
        <ul class="nav__main ">
             <li class="nav__main-item">
                 <a class="nav__main-link" href="#">Портфолио</a>
             </li>
             <li class="nav__main-item">
                 <a class="nav__main-link" href="#">Этапы работы</a>
             </li>
             <li class="nav__main-item">
                 <a class="nav__main-link" href="#">Цены</a>
             </li>
             <li class="nav__main-item">
                 <a class="nav__main-link" href="#">Контакты</a>
             </li>
        </ul>
 
        <ul class="nav__contacts">
            <li class="nav__contacts-item">
                <a class="nav__contacts-link" href="#">Обратная связь</a>
             </li>
            <li class="nav__contacts-item">
                <a class="nav__contacts-link nav__contacts-link--phone" href="tel:89994949494" >8 (925) 555 35 35</a>
             </li>
        </ul>
 
    </nav> <!-- /.nav -->
 </header> <!-- /.header -->