<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="" class="logo">
        <img class="logo__img" src="assets/images/logo.png" alt="">
      </a>

      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </div>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nav-link">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>