.booking {
  background-image: var(--gradient-color);
}

.booking-form {
  @include large-f {
    display: flex;
    justify-content: space-between;

    .input-group {
      margin-bottom: 0;

      &:first-child {
        flex: 0 0 20%;
      }
    }
  }

  @include desk-f {
    .input-group {
      &:first-child {
        flex: 0 0 30%;
      }
    }
  }
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-label {
  display: block;
  margin-bottom: 1rem;

  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.input,
.options {
  width: 100%;
  min-height: 4rem;
  padding: 1rem;

  outline: none;
  border: none;

  font-weight: bold;
  color: #a5a5a5;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  /* resize: none; */

  @include large-f {
    min-width: 10rem;
  }
}