.contact-content {
  display: flex;
  justify-content: center;

  @include mf {
    justify-content: space-between;
  }
}

.traveler-wrap {
  display: none;

  @include mf {
    display: block;
    // padding: 4rem;
    flex: 0 0 45%;
  }

  img {
    @include mf {
      width: 100%;
    }
  }
}

.contact-form {
  width: 100%;
  padding: 2.5rem;

  background-image: var(--gradient-color);

  .input-group-wrap {
    @include mf {
      display: flex;
    }

    .input-group {
      @include mf {
        width: 50%;
        margin-right: 2rem;
      }
    }

    .input-group:last-child {
      @include mf {

        margin-right: 0;
      }
    }
  }

  .input {
    display: block;
    padding-left: 0;

    color: #fff;
    font-weight: normal;

    border-bottom: 2px solid #fff;
    background-color: transparent;

    &:focus+.bar::after {
      transform: scaleX(1);
    }
  }

  .bar {
    display: block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;

      background-color: var(--purple-light);

      transform: scaleX(0);

      transition: transform .3s;
    }
  }

  @include mf {
    flex: 0 0 50%;
    align-self: flex-start;
  }
}