.footer {
  padding: 5rem 0;

  color: #fff;

  background-color: var(--purple-solid);

  .paragraph {
    color: inherit;

    @include mf {
      margin-top: 2.5rem;
    }
  }

  @include mf {
    overflow-x: hidden;
  }
}

.footer-content {
  @include mf {
    display: flex;

  }
}

.footer-content-brand {
  margin-bottom: 5rem;

  @include mf {
    margin-bottom: 0;

    flex: 0 0 60%;
  }
}

.footer-heading {
  text-transform: uppercase;
  margin-bottom: 2.5rem;

  @include mf {
    margin-bottom: 5rem;
  }
}

.social-media-wrap {
  @include mf {
    flex: 0 0 40%;
    margin-left: 2.5rem;
  }
}

.social-media {
  display: flex;


}

.sm-link {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: flex;

  font-size: 2rem;

  border: 2px solid var(--yellow-solid);
  border-radius: 50%;

  transition: background-color .3s;

  i {
    color: var(--yellow-solid);
    margin: auto;

    transition: color .3s;
  }

  &:hover {
    background-color: var(--yellow-solid);
    ;
    color: var(--dark-color);

    i {
      color: inherit;
    }
  }

}