.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--purple-transparent);
  z-index: 999;

  transition: background-color .3s, height .3s;

  &.active {
    background-color: var(--purple-solid);

    @include mf {
      height: 6rem;
    }
  }

  @include mf {
    height: 10rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  max-width: 80%;
}

.hamburger-menu {
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;

  position: relative;
  z-index: 1500;

  @include large-f {
    display: none;
  }
}

.hamburger-menu .fa-times {
  display: none;
}


.nav-list {
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1400;

  background: var(--purple-solid);

  transition: opacity .3s, transform .2s;

  transform: scale(0);

  @include large-f {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    flex-direction: row;
    justify-content: initial;
    opacity: 1;
    transform: scale(1);


  }
}

.menu-open {
  .nav-list {
    opacity: 1;
    transform: scale(1);
  }

  .fa-bars {
    display: none;
  }

  .fa-times {
    display: block;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: .5rem;

  @include large-f {
    &:not(:last-child) {
      margin-right: 3rem;
      margin-bottom: 0;
    }
  }
}

.nav-link {
  display: block;
  padding: 1rem;

  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;

  @include large-f {
    font-size: 1.3rem;
    font-weight: normal;

    transition: color .3s;

    &:hover {
      color: var(--yellow-solid);
    }
  }
}