.featured-hotels {
  height: 35rem;
  padding: 1rem;

  position: relative;
  z-index: 0;

  color: #fff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-color: var(--purple-transparent-alt);
  }
}

.hotel-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hotel-name {
  font-size: 2.6rem;
}

.hotel-price {
  font-size: 1.8rem;
}

.hotel-raiting {
  margin: 1rem 0 2.5rem;
}

.rating {
  color: var(--yellow-solid);
}