.offer {
  background: linear-gradient(to right, rgba(250, 158, 44, .8), rgba(143, 80, 251, .8)), url('../images/the_paradise_bg.jpg') bottom center no-repeat;
  background-size: cover;
}

.offer-content {
  padding: 5rem 1rem;
  position: relative;
  overflow: hidden;

  background-color: #fff;
  text-align: center;
}

.discount {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;

  text-transform: uppercase;
  font-weight: bold;
  outline: 2px solid var(--yellow-solid);
  outline-offset: .5rem;

  background-color: var(--yellow-solid);
}

.paragraph {
  color: #a5a5a5;
  margin-bottom: 2.5rem;
}

