.instagram {
	background: url(../../img/insta.png) center top #000 no-repeat;
	background-size: cover;
}

.instagram__info {
	text-align: center;
	padding-top: 24%;
	padding-bottom: 24%;
}

.instagram__title {
	color: #fff;

	font-size: 60px;
	line-height: 70px;
	letter-spacing: 36px; /*(Размер шрифта * значение интервала в ФШ) / 1000*/
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

.instagram__link {
	font-size: 30px;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 12px;

	display: inline-block;

	color: #f84545;

	transition-duration: 500ms;
	transition-property: letter-spacing;
}

.instagram:hover {
	letter-spacing: 15px;
}

@media (max-width: 1200px) {
	.instagram__title {
		font-size: 50px;
		line-height: 60px;
		letter-spacing: 18px;
	}
}

@media (max-width: 768px) {
	.instagram__logo {
		margin-bottom: 15px;
	}

	.instagram__list {
		justify-content: center;
	}
}

@media (max-width: 580px) {
	.instagram__title {
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 9px;
	}

	.instagram__link {
		font-size: 20px;
		line-height: 45px;
		letter-spacing: 6px;
	}

	.instagram__link:hover {
		letter-spacing: 9px;
	}
}
